## DSWD DROMIC Coronavirus disease (COVID-2019) situation reports

Reports from https://dromic.dswd.gov.ph/coronavirus-disease-covid-19-31-dec-2019/ in Tabular format.

In [2]:
import pandas as pd
import requests
import os
import re
from datetime import datetime

In [5]:
# papermill parameters
output_folder = "../output/"

calendar = pd.date_range(start="2019-01-01", end="2021-01-01", freq='H', tz='Asia/Singapore')
calendar_df = pd.DataFrame({'date_hour': calendar})
calendar_df['date'] = calendar_df['date_hour'].dt.date
calendar_df['date'] = calendar_df['date'].astype('datetime64[ns]')
calendar_df['hour'] = calendar_df['date_hour'].dt.hour
calendar_df['hour'] = calendar_df['hour']
calendar_df

                      date_hour       date  hour
0     2019-01-01 00:00:00+08:00 2019-01-01     0
1     2019-01-01 01:00:00+08:00 2019-01-01     1
2     2019-01-01 02:00:00+08:00 2019-01-01     2
3     2019-01-01 03:00:00+08:00 2019-01-01     3
4     2019-01-01 04:00:00+08:00 2019-01-01     4
...                         ...        ...   ...
17540 2020-12-31 20:00:00+08:00 2020-12-31    20
17541 2020-12-31 21:00:00+08:00 2020-12-31    21
17542 2020-12-31 22:00:00+08:00 2020-12-31    22
17543 2020-12-31 23:00:00+08:00 2020-12-31    23
17544 2021-01-01 00:00:00+08:00 2021-01-01     0

[17545 rows x 3 columns]

In [7]:
calendar_df.to_csv('%s/calendar.csv' % output_folder, index = False)